$shadow-color: #cccccc;
$primary-color: #69f0ae;
$primary-dark: #2bbd7e;
body {
    background-color: #f2f2f2;
    font-family:Arial;
}
.home {

    &__header{
        height: 300px;
        background-color: $primary-dark;
        display: flex;
    }
    &--ul{
        list-style-type: none;
    }
    &__content__body__left{
        flex-grow: 1;        
        padding: 10px;
        border-bottom-left-radius: 8px;
        max-width: 50%;
    }
}
.inline-color{
    color:$primary-dark;
}
.top-navbar {
    display: flex;
    flex-grow: 18;
    margin: auto;
    width: 1100px;
    padding-bottom: 50px;
    padding-top: 50px;

    &__name {
        flex-grow: 8;
    }

    &__button {
        position: relative;
        flex-grow: 1;
        color: #999999;
        transition: 0.5s;
        transition-property: color;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: $primary-dark;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            color: #4d4d4d;
        }

        &:hover::before {
            visibility: visible;
            transform: scaleX(0.3);
        }
    }
}
.content {
    margin: auto;
    max-width: 1100px;
    min-width:500px;
    box-shadow: 5px 15px 20px #cccccc;

    &__header {
        background-color: $primary-dark;
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size:23px;
        height: 100px;
    }

    &__body {
        background-color: white;
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
        padding: 50px;

        min-height: 200px;


        &__left {
            flex-grow: 1;
            display: flex;            
            padding: 10px;
            border-bottom-left-radius: 8px;
            max-width: 50%;
        }

        &__right {
            max-width: 50%;
            flex-grow: 1;
            padding: 10px;
            display: flex;
            border-bottom-right-radius: 8px;
        }
    }
}
.content__title{
    color:white;
    margin:auto;
    text-align:center;
}
.table {
    &__header {
        width: 50%;

    }

    &__content {
        width: auto;

    }
    &__item{
        margin:8px;

    }
}

.img__photo {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 5px 10px $shadow-color;
    margin-left: 50px;
    margin-top: 50px;
    transition: 0.7s;
    transition-property: box-shadow, transform;

    &:hover {
        transform: translatey(-15px);
        box-shadow: 0px 20px 25px $shadow-color;
    }
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-media__img{
    max-width:22px;
    padding: 10px;
    
 }
.social-media-button {
    width: 44px;
    border-radius: 88px;
    background-color: white;
    box-shadow: 1px 1px 1px $primary-color;
    margin: 5px;
}
.timeline {
    border-left: 2px solid #cccccc;
    min-height: 400px;

    &__inline-color {
        color: $primary-dark;
        font-weight: 900;

        &::after {
            color: #999999;
            content: '|'
        }
    }

    &__element {
        position: relative;
        border: 1px solid #cccccc;
        border-left: 2px solid $primary-dark;
        margin-left: 20px;
        padding: 20px 50px 20px 20px;
        margin: 15px;
        min-width: 330px;
        &:hover {
            box-shadow: #cccccc 1px 1px 8px;
        }

        &__title {
            margin: 0px;
        }

        &__sub-title {
            font-size: 14px;
        }

        &__detail {
        }

        &::before {
            position: absolute;
            left: -20px;
            height: 2px;
            width: 20px;
            z-index: 1;
            content: '';
            background-color: $primary-dark
        }

        &::after {
            position: absolute;
            left: -24px;
            top: 15px;
            height: 8px;
            width: 8px;
            

            z-index: 2;
            content: '';
            
            border:2px solid $primary-dark;
            background-color:white;
            border-radius:8px;
        }
    }
}
.project--element{

}


