body {
  background-color: #f2f2f2;
  font-family: Arial;
}

.home__header {
  height: 300px;
  background-color: #2bbd7e;
  display: flex;
}
.home--ul {
  list-style-type: none;
}
.home__content__body__left {
  flex-grow: 1;
  padding: 10px;
  border-bottom-left-radius: 8px;
  max-width: 50%;
}

.inline-color {
  color: #2bbd7e;
}

.top-navbar {
  display: flex;
  flex-grow: 18;
  margin: auto;
  width: 1100px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.top-navbar__name {
  flex-grow: 8;
}
.top-navbar__button {
  position: relative;
  flex-grow: 1;
  color: #999999;
  transition: 0.5s;
  transition-property: color;
  text-align: center;
}
.top-navbar__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #2bbd7e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.top-navbar__button:hover {
  color: #4d4d4d;
}
.top-navbar__button:hover::before {
  visibility: visible;
  transform: scaleX(0.3);
}

.content {
  margin: auto;
  max-width: 1100px;
  min-width: 500px;
  box-shadow: 5px 15px 20px #cccccc;
}
.content__header {
  background-color: #2bbd7e;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 23px;
  height: 100px;
}
.content__body {
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  min-height: 200px;
}
.content__body__left {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  border-bottom-left-radius: 8px;
  max-width: 50%;
}
.content__body__right {
  max-width: 50%;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  border-bottom-right-radius: 8px;
}

.content__title {
  color: white;
  margin: auto;
  text-align: center;
}

.table__header {
  width: 50%;
}
.table__content {
  width: auto;
}
.table__item {
  margin: 8px;
}

.img__photo {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px;
  width: 300px;
  background-color: white;
  box-shadow: 0px 5px 10px #cccccc;
  margin-left: 50px;
  margin-top: 50px;
  transition: 0.7s;
  transition-property: box-shadow, transform;
}
.img__photo:hover {
  transform: translatey(-15px);
  box-shadow: 0px 20px 25px #cccccc;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media__img {
  max-width: 22px;
  padding: 10px;
}

.social-media-button {
  width: 44px;
  border-radius: 88px;
  background-color: white;
  box-shadow: 1px 1px 1px #69f0ae;
  margin: 5px;
}

.timeline {
  border-left: 2px solid #cccccc;
  min-height: 400px;
}
.timeline__inline-color {
  color: #2bbd7e;
  font-weight: 900;
}
.timeline__inline-color::after {
  color: #999999;
  content: "|";
}
.timeline__element {
  position: relative;
  border: 1px solid #cccccc;
  border-left: 2px solid #2bbd7e;
  margin-left: 20px;
  padding: 20px 50px 20px 20px;
  margin: 15px;
  min-width: 330px;
}
.timeline__element:hover {
  box-shadow: #cccccc 1px 1px 8px;
}
.timeline__element__title {
  margin: 0px;
}
.timeline__element__sub-title {
  font-size: 14px;
}
.timeline__element::before {
  position: absolute;
  left: -20px;
  height: 2px;
  width: 20px;
  z-index: 1;
  content: "";
  background-color: #2bbd7e;
}
.timeline__element::after {
  position: absolute;
  left: -24px;
  top: 15px;
  height: 8px;
  width: 8px;
  z-index: 2;
  content: "";
  border: 2px solid #2bbd7e;
  background-color: white;
  border-radius: 8px;
}

/*# sourceMappingURL=styles.css.map */
